# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_language_version:
  python: python3.14

ci:
  # Renovate updates the file. We can't disable pre-commit CI's autoupdate entirely
  # but this is the least frequent we can make it.
  autoupdate_schedule: quarterly
  skip: [basedpyright]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/DetachHead/basedpyright-prek-mirror
    rev: 1.36.1
    hooks:
      - id: basedpyright

        additional_dependencies:
          - anyio==4.12.0
          - certifi==2025.11.12
          - coverage==7.13.0
          - h11==0.16.0
          - h2==4.3.0
          - hpack==4.1.0
          - httpcore==1.0.9
          - httpx==0.28.1
          - hyperframe==6.1.0
          - idna==3.11
          - jinja2==3.1.6
          - markupsafe==3.0.3
  - repo: https://github.com/ewjoachim/sync-pre-commit-with-uv
    rev: 1.1.0
    hooks:
      - id: sync
