{% if is_public -%}
You can browse the full coverage report at:
    {{ html_report_url }}

{% endif -%}
You can use the following URLs to display your badge:

- Badge SVG available at:
    {{ direct_image_url }}

{% if is_public -%}
- Badge from shields endpoint is easier to customize but doesn't work with private repo:
    {{ endpoint_image_url }}

- Badge from shields dynamic url (less useful but you never know):
    {{ dynamic_image_url }}

{% endif -%}
See more details and ready-to-copy-paste-markdown at {{ readme_url }}
